<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.googlecode.osde.gadgetSpecXML"
            name="Gadget Spec XML File"
            priority="high">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter name="element" value="Module"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.googlecode.osde.messageBundleXML"
            name="Message Bundle XML File">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter name="element" value="messagebundle"/>
         </describer>
      </content-type>
   </extension>

   <extension
         id="gadgetBuilder"
         name="OSDE Gadget Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="com.googlecode.osde.internal.builders.GadgetBuilder" />
      </builder>
   </extension>

   <extension
         id="com.googlecode.osde.markers.JsCompileMarker"
         name="JavaScript compilation results"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker" />
      <persistent value="true" />
   </extension>

   <extension
         id="osdeNature"
         point="org.eclipse.core.resources.natures"
         name="OpenSocial Development Environment Nature">
      <builder id="com.googlecode.osde.gadgetBuilder" />
      <runtime>
         <run class="com.googlecode.osde.internal.OsdeProjectNature" />
      </runtime>
   </extension>

   <extension 
   		 point="org.eclipse.core.runtime.preferences">
   	  <initializer
   	        class="com.googlecode.osde.internal.OsdePreferenceInitializer">
   	  </initializer> 
   </extension>
    
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.googlecode.osde.actionSet"
            label="OSDE"
            visible="false">
         <menu
               id="opensocialMenu"
               label="&amp;OSDE">
            <separator
                  name="opensocialGroup1">
            </separator>
            <separator
                  name="opensocialGroup2">
            </separator>
            <separator
                  name="opensocialGroup3">
            </separator>
            <separator
                  name="opensocialGroup4">
            </separator>
         </menu>
         <action
               class="com.googlecode.osde.internal.shindig.ShowPublicCertificateAction"
               id="com.googlecode.osde.internal.shindig.ShowPublicCertificateAction"
               icon="icons/icon_key.gif"
               label="Show &amp;Public Certificate"
               menubarPath="opensocialMenu/opensocialGroup3"
               tooltip="Show Public Certificate for OAuth.">
         </action>
         <action
               class="com.googlecode.osde.internal.runtime.RunExternalAction"
               id="com.googlecode.osde.internal.runtime.RunExternalAction"
               icon="icons/icon_external.gif"
               label="Run &amp;external application"
               menubarPath="opensocialMenu/opensocialGroup2"
               toolbarPath="opensocialGroup"
               tooltip="Run the application to locate external.">
         </action>
         <action
               class="com.googlecode.osde.internal.runtime.RunAgainAction"
               id="com.googlecode.osde.runAgainAction1"
               definitionId="com.googlecode.osde.commands.runLastLaunchedGadgetCommand"
               label="Run last launched application"
               icon="icons/action_again.gif"
               menubarPath="opensocialMenu/opensocialGroup2"
               toolbarPath="opensocialGroup"
               tooltip="Run the last launched application.">
         </action>
         <action
               class="com.googlecode.osde.internal.runtime.RunAction"
               enablesFor="1"
               id="com.googlecode.osde.runAction2"
               label="Run this application locally"
               icon="icons/action_go.gif"
               menubarPath="opensocialMenu/opensocialGroup2"
               toolbarPath="opensocialGroup"
               tooltip="Run this application locally.">
            <enablement>
               <objectState
	                     name="contentTypeId"
	                     value="com.googlecode.osde.gadgetSpecXML">
	           </objectState>
            </enablement>
         </action>
         <action
               class="com.googlecode.osde.internal.igoogle.IgPreviewAction"
               enablesFor="1"
               icon="icons/action_go.gif"
               id="com.googlecode.osde.runActionPreviewOnIGoogle2"
               label="iGoogle - Preview Gadget"
               menubarPath="opensocialMenu/opensocialGroup4"
               tooltip="iGoogle - Preview Gadget">
            <enablement>
               <objectState
                   name="contentTypeId"
	               value="com.googlecode.osde.gadgetSpecXML">
	           </objectState>
            </enablement>
         </action>
         <action
               class="com.googlecode.osde.internal.igoogle.IgPublishAction"
               enablesFor="1"
               icon="icons/action_go.gif"
               id="com.googlecode.osde.runActionPublishOnIGoogle2"
               label="iGoogle - Publish Gadget"
               menubarPath="opensocialMenu/opensocialGroup4"
               tooltip="iGoogle - Publish Gadget">
            <enablement>
               <objectState
                   name="contentTypeId"
                   value="com.googlecode.osde.gadgetSpecXML">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.googlecode.osde.internal.igoogle.IgCleanAction"
               icon="icons/action_go.gif"
               id="com.googlecode.osde.runActionCleanOnIGoogle2"
               label="iGoogle - Clean Preview Files"
               menubarPath="opensocialMenu/opensocialGroup4"
               tooltip="iGoogle - Clean Preview Files">
         </action>
         <action
               class="com.googlecode.osde.internal.shindig.CreateSampleDataAction"
               icon="icons/icon_download.gif"
               id="com.googlecode.osde.internal.shindig.CreateSampleDataAction"
               label="Create sample data in Shindig"
               menubarPath="opensocialMenu/opensocialGroup1"
               tooltip="Create sample data in Shindig database.">
         </action>
         <action
               class="com.googlecode.osde.internal.shindig.ShutoffShindigAction"
               icon="icons/shindig_stop.gif"
               id="com.googlecode.osde.internal.shindig.ShutoffShindigAction"
               label="Shut off Apache &amp;Shindig"
               menubarPath="opensocialMenu/opensocialGroup1"
               toolbarPath="opensocialGroup"
               tooltip="Shut off Apache Shindig server.">
         </action>
         <action
               class="com.googlecode.osde.internal.shindig.LaunchShindigAction"
               icon="icons/shindig_start.gif"
               id="com.googlecode.osde.internal.shindig.LaunchShindigAction"
               label="Launch Apache &amp;Shindig"
               menubarPath="opensocialMenu/opensocialGroup1"
               toolbarPath="opensocialGroup"
               tooltip="Launch Apache Shindig server.">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.googlecode.osde.commands.category1"
            name="OSDE">
      </category>
      <command
            id="com.googlecode.osde.commands.runGadgetCommand"
            categoryId="com.googlecode.osde.commands.category1"
            name="Run OpenSocial Application">
      </command>
      <command
            id="com.googlecode.osde.commands.runLastLaunchedGadgetCommand"
            categoryId="com.googlecode.osde.commands.category1"
            name="Run the last launched OpenSocial Application">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            adaptable="true"
            label="OpenSocial Project"
            icon="icons/person_small.gif"
            state="true"
            id="com.googlecode.osde.OpenSocialProjectDecorator">
         <enablement>
            <objectState
                  name="nature"
                  value="com.googlecode.osde.osdeNature">
            </objectState>
         </enablement>
      </decorator>
   </extension>

   <extension
         point = "org.eclipse.ui.editorActions">
      <editorContribution 
            id="com.googlecode.osde.editorActions"
            targetID="com.googlecode.osde.editors.GadgetXmlEditor">
         <action id="com.googlecode.osde.editorActions.runAction"
               label="Run this application locally"
               class="com.googlecode.osde.internal.runtime.RunFromEditorAction"
               definitionId="com.googlecode.osde.commands.runGadgetCommand" /> 
      </editorContribution>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.googlecode.osde.internal.editors.GadgetXmlEditor"
            default="false"
            extensions="xml"
            icon="icons/opensocial.gif"
            id="com.googlecode.osde.editors.GadgetXmlEditor"
            name="Gadget Spec XML Editor">
         <contentTypeBinding contentTypeId="com.googlecode.osde.gadgetSpecXML" />
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.googlecode.osde.export"
            name="OSDE">
      </category>
      <wizard
            class="com.googlecode.osde.internal.ui.wizards.export.OpenSocialApplicationExportWizard"
            id="com.googlecode.osde.ExportWizard"
            category="com.googlecode.osde.export"
            icon="icons/opensocial.gif"
            name="OpenSocial application">
         <description>
            Export the selected OpenSocial application.
         </description>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
           <includes>
               <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
               <contentExtension pattern="com.googlecode.views.filters.*"/>
           </includes>
       </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
        id="com.googlecode.osde.newWizards"
        name="OSDE">
      </category>
      <wizard
          id="com.googlecode.osde.newWizards.NewOpenSocialProjectWizard"
          name="OpenSocial Project"
          category="com.googlecode.osde.newWizards"
          icon="./icons/opensocial.gif"
          project="true"
          finalPerspective="com.googlecode.osde.perspective"
          class="com.googlecode.osde.internal.ui.wizards.newjsprj.NewOpenSocialProjectResourceWizard">
          <description>
              Create an OpenSocial project.
          </description>
      </wizard> 
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key sequence="M1+R"
            commandId="com.googlecode.osde.commands.runGadgetCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key sequence="M3+R"
            commandId="com.googlecode.osde.commands.runLastLaunchedGadgetCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.googlecode.osde.perspective">
         <actionSet id="com.googlecode.osde.actionSet" />
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.googlecode.osde.internal.ui.OsdePerspective"
            id="com.googlecode.osde.perspective"
            icon="icons/opensocial.gif"
            name="OpenSocial">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.googlecode.osde.contribution2"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="com.googlecode.osde.menu2"
               label="OSDE"
               path="additions">
            <separator
                  name="group2">
            </separator>
            <separator
                  name="group3">
            </separator>
            <separator
                  name="group4">
            </separator>
         </menu>
         <action
               class="com.googlecode.osde.internal.runtime.CreateJavaProjectAction"
               enablesFor="1"
               id="com.googlecode.osde.createJavaProjectAction"
               label="Create Java Project for Restful Protocol"
               icon="icons/icon_wand.gif"
               menubarPath="com.googlecode.osde.menu2/group3">
            <enablement>
               <objectState
                   name="contentTypeId"
	               value="com.googlecode.osde.gadgetSpecXML">
	           </objectState>
            </enablement>
         </action>
         <action
               class="com.googlecode.osde.internal.runtime.ShowKeysAction"
               enablesFor="1"
               id="com.googlecode.osde.showKeysAction"
               label="Show keys"
               icon="icons/icon_key.gif"
               menubarPath="com.googlecode.osde.menu2/group3">
            <enablement>
               <objectState
                   name="contentTypeId"
	               value="com.googlecode.osde.gadgetSpecXML">
	           </objectState>
            </enablement>
         </action>
         <action
               class="com.googlecode.osde.internal.runtime.RunAction"
               enablesFor="1"
               id="com.googlecode.osde.runActionLocally"
               label="Run this application locally"
               icon="icons/action_go.gif"
               menubarPath="com.googlecode.osde.menu2/group2">
            <enablement>
               <objectState
                   name="contentTypeId"
	               value="com.googlecode.osde.gadgetSpecXML">
	           </objectState>
            </enablement>
         </action>
         <action
               class="com.googlecode.osde.internal.igoogle.IgPreviewAction"
               enablesFor="1"
               id="com.googlecode.osde.runActionPreviewOnIGoogle1"
               label="iGoogle - Preview Gadget"
               icon="icons/action_go.gif"
               menubarPath="com.googlecode.osde.menu2/group4">
            <enablement>
               <objectState
                   name="contentTypeId"
	               value="com.googlecode.osde.gadgetSpecXML">
	           </objectState>
            </enablement>
         </action>
         <action
               class="com.googlecode.osde.internal.igoogle.IgPublishAction"
               enablesFor="1"
               id="com.googlecode.osde.runActionPublishOnIGoogle1"
               label="iGoogle - Publish Gadget"
               icon="icons/action_go.gif"
               menubarPath="com.googlecode.osde.menu2/group4">
            <enablement>
               <objectState
                   name="contentTypeId"
                   value="com.googlecode.osde.gadgetSpecXML">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.googlecode.osde.internal.igoogle.IgCleanAction"
               id="com.googlecode.osde.runActionCleanOnIGoogle1"
               label="iGoogle - Clean Preview Files"
               icon="icons/action_go.gif"
               menubarPath="com.googlecode.osde.menu2/group4">
         </action>
      </objectContribution>
   </extension>

    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.googlecode.osde.internal.ui.OsdePreferencePage"
            id="com.googlecode.osde.internal.ui.OsdePreferencePage"
            name="OSDE">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.googlecode.osde"
            name="OSDE">
      </category>
      <view
            category="com.googlecode.osde"
            class="com.googlecode.osde.internal.ui.views.people.PersonView"
            icon="icons/opensocial.gif"
            id="com.googlecode.osde.internal.views.PersonView"
            name="People">
      </view>
      <view
            category="com.googlecode.osde"
            class="com.googlecode.osde.internal.ui.views.appdata.AppDataView"
            icon="icons/opensocial.gif"
            id="com.googlecode.osde.internal.views.AppDataView"
            name="AppData">
      </view>
      <view
            category="com.googlecode.osde"
            class="com.googlecode.osde.internal.ui.views.activities.ActivitiesView"
            icon="icons/opensocial.gif"
            id="com.googlecode.osde.internal.views.ActivitiesView"
            name="Activities">
      </view>
      <view
            category="com.googlecode.osde"
            class="com.googlecode.osde.internal.ui.views.userprefs.UserPrefsView"
            icon="icons/opensocial.gif"
            id="com.googlecode.osde.internal.views.UserPrefsView"
            name="User Preferences">
      </view>
      <view
            category="com.googlecode.osde"
            class="com.googlecode.osde.internal.ui.views.docs.DocumentView"
            icon="icons/opensocial.gif"
            id="com.googlecode.osde.internal.views.DocumentView"
            name="Docs">
      </view>
      <view
            category="com.googlecode.osde"
            class="com.googlecode.osde.internal.ui.views.apps.ApplicationView"
            icon="icons/opensocial.gif"
            id="com.googlecode.osde.internal.views.ApplicationView"
            name="Applications">
      </view>
   </extension>

   <!-- use Common Navigation Framework binding filters to ProjectExplorer -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            class="com.googlecode.osde.internal.ui.views.filters.NonOsdeProjectFilter"
            id="com.googlecode.views.filters.nonOsdeProject"
            description="description"
            activeByDefault="false"
            name="Non-OSDE Project Filter">
      </commonFilter>  
   </extension>

</plugin>
