<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
        id="jp.eisbahn.eclipse.plugins.osde.newWizards"
        name="OpenSocial">
      </category>
      <wizard
          id="jp.eisbahn.eclipse.plugins.osde.newWizards.NewOpenSocialProjectWizard"
          name="OpenSocial Project"
          category="jp.eisbahn.eclipse.plugins.osde.newWizards"
          icon="./icons/sample.gif"
          project="true"
          class="jp.eisbahn.eclipse.plugins.osde.internal.ui.wizards.NewOpenSocialProjectResourceWizard">
          <description>
              Create an OpenSocial project.
          </description>
           <selection class="org.eclipse.core.resources.IResource"/>
      </wizard> 
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jp.eisbahn.eclipse.plugins.osde.internal.editors.GadgetXmlEditor"
            default="false"
            extensions="xml"
            icon="icons/sample.gif"
            id="jp.eisbahn.eclipse.plugins.osde.editors.GadgetXmlEditor"
            name="Gadget XML Editor">
         <contentTypeBinding contentTypeId="jp.eisbahn.eclipse.plugins.osde.editors.gadgetXml" />
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="jp.eisbahn.eclipse.plugins.osde.internal.editors.GadgetXmlDescriber"
            file-extensions="xml"
            id="gadgetXml"
            name="Gadget XML File"
            priority="high" />
   </extension>
   <extension
         id="osdeNature"
         point="org.eclipse.core.resources.natures"
         name="OpenSocial Development Environment Nature">
      <runtime>
         <run class="jp.eisbahn.eclipse.plugins.osde.internal.OsdeProjectNature" />
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="jp.eisbahn.eclipse.plugins.osde.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="jp.eisbahn.eclipse.plugins.osde.menu1"
               label="OpenSocial"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="jp.eisbahn.eclipse.plugins.osde.internal.shindig.export.InstallShindigAction"
               enablesFor="1"
               id="jp.eisbahn.eclipse.plugins.osde.newAction"
               label="Install Shindig"
               menubarPath="jp.eisbahn.eclipse.plugins.osde.menu1/group1">
            <enablement>
                <objectState
                      name="nature"
                      value="jp.eisbahn.eclipse.plugins.osde.osdeNature">
                </objectState>
            </enablement>
         </action>
      </objectContribution>
   </extension>
</plugin>
